{% load staticfiles %}
<html>
<head>
    <script type="text/javascript" src="{% static "scores/Chart.js" %}"></script>
    <script type="text/javascript" src="{% static "scores/scorehistory.js" %}"></script>
	<script type="text/javascript" src="{% static "scores/winRecord.js" %}"></script>
	<script type="text/javascript">
		function initPage() {
			drawSet();
			drawWins();
		}
	</script>
    <link rel="stylesheet" type="text/css" href="{% static "scores/style.css" %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
</head>

<body onload="initPage()">
<div id="mainView">
	<div id="ladderView" class="subcontainer">
		<h1>Leaders</h1>
		<ol id="leaderboard" class="menu">
            {% for player in leaders %}
            <li><a href="../player/{{player.short_id}}">{{player.first_name}}</a></li>
            {% endfor %}
<!--
			<li>Laurence</li>
			<li>Gregg</li>
			<li>Dain</li>
			<li>Josie</li>
			<li>Sasha</li>
			<li>Dylan</li>
			<li>Mark</li>
			<li>Tim</li>
			<li>Ciaran</li>
-->
		</ol>
		<h1>Search</h1>
		...no searching yet.
		<h1>About</h1>
		<ol class="menu">
			<li>Ladder League</li>
			<li>BitBucket</li>
		</ol>
	</div>
	<div id="playerView" class="subcontainer">
		<h1>Gregg "The Sizzler" Lewis</h1>
		
		<img id="profilePic" src="{% static "scores/img/pong.jpg" %}">
		
		<h2>Overall Record</h2>
		<span class="legend">
			
			<div class="legendItem">
				<span class="legendColor color1"></span><span class="legendLabel color1">Regulation Games</span>
			</div>
			
			<div class="legendItem">
				<span class="legendColor color2"></span><span class="legendLabel color2">Casual Sets</span>
			</div>
			
		</span>
		<canvas id="winRecord"></canvas>
		<h2>Set History</h2>
		<div id="gameHistory">
			<table>
				<thead>
					<tr><th>Date</th><th>vs</th><th>Result</th></tr>
				</thead>
				<tbody>
				<tr><td>10/12/15</td><td>Laurence</td><td>loss</td></tr>
				<tr><td>10/12/15</td><td>Dain</td><td>loss</td></tr>
				<tr><td>10/12/15</td><td>Sasha</td><td>win</td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="setView" class="subcontainer">
	    <h1>Regulation Set 173 </h1>

		<div class="gameView">
		    <h2>Game 1</h2><h3>21/11 Gregg</h3>
		    <canvas id="game1"></canvas>
		</div>

		<div class="gameView">
		    <h2>Game 2</h2><h3>21/11 Gregg</h3>
		    <canvas id="game2"></canvas>
		</div>
		
		<div id="game3Score" class="gameView">
	    <h2>Game 3</h2>
			<div class="playerScore player1">
				<h2>Gregg</h2>
				<h1>21</h1>
			</div>
			<div class="playerScore player2">
				<h2>Laurence</h2>
				<h1>11</h1>
			</div>
		</div>


	</div>
</div>
</body>
</html>
