{% load staticfiles %}
<html>
<head>
    <script type="text/javascript" src="{% static "scores/Chart.js" %}"></script>
    <script type="text/javascript" src="{% static "scores/scorehistory.js" %}"></script>
	<script type="text/javascript" src="{% static "scores/winRecord.js" %}"></script>
	<script type="text/javascript">
		function initPage() {
			drawSet();
			drawWins();
		}
	</script>
    <link rel="stylesheet" type="text/css" href="{% static "scores/style.css" %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
</head>

<body onload="initPage()">
<div id="mainView">
	<div id="ladderView" class="subcontainer">
        {{leaders}}
		<h1>Search</h1>
		...no searching yet.
		<h1>About</h1>
		<ol class="menu">
			<li>Ladder League</li>
			<li>BitBucket</li>
		</ol>
	</div>
	<div id="welcome" class="subcontainer">
        <div>
        <p>Hello, and welcome to the ladder league home page!</p>
        <p>Here you will find scores and standings for 
           Gregg's House Table Tennis Ladder League! To get started,
            just click on a name on the left!
        </p>
        </div>
	</div>

</div>
</body>
</html>
