{% load staticfiles %}


<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "scores/style.css" %}">
    <title>Ladder League</title>
</head>

<body>

<div id="titlebar">Ladder League</div>

<div id="container">
    {{leaders}}

    <div id="content">
    
        {% if profile %}
        <!--inserting profile-->
        {{profile}}
    
        {% if single_set %}
        {{single_set}}
        {% endif %}
        {% else %}
        
        <div id="notice">
        <h1>Welcome</h1>
        Hello, and welcome to the ladder league home page!
    
        Here you will find scores and standings for Gregg's
        House Table Tennis Ladder League. To get started, 
        just click on a name on the left. Once there, you
        can click on individual matches to see their outcomes.
    
        <h2>What is this?</h2>
        Primarily, this project has been an excuse to familiarize
        myself with <a href="http://djangoproject.com">Django</a>.
        <br>
        It's also intended to foster competition around the
        table tennis table. For now, you can just view historical
        data, but I'm working on implementing a "challenge" mechanism
        to allow anyone to throw down the gauntlet from wherever you
        happen to be.
        </div>
    
        {% endif %}
    
    </div>
</div>
</body>

</html>
