{% load staticfiles %}
		<h1>{{player.first_name}} {% if player.handle %}"{{player.handle}}"{% endif %} {{player.last_name}}</h1>
		
		<img id="profilePic" src="{% static "scores/img/pong.jpg" %}">
		
		<h2>Overall Record</h2>
		<span class="legend">
			
			<div class="legendItem">
				<span class="legendColor color1"></span><span class="legendLabel color1">Regulation Games</span>
			</div>
			
			<div class="legendItem">
				<span class="legendColor color2"></span><span class="legendLabel color2">Casual Sets</span>
			</div>
			
		</span>
		<canvas id="winRecord"></canvas>
		<h2>Set History</h2>
		<div id="gameHistory">
			<table>
				<thead>
					<tr><th>Date</th><th>vs</th><th>Result</th></tr>
				</thead>
				<tbody>
                {% if challenger_sets %}
                {% for set in challenger_sets %}
                <tr><td>date</td><td>{{set.player2.first_name}}</td><td>...</td></tr>
                {% endfor %}
                {% endif %}
                {% if challengee_sets %}
                {% for set in challengee_sets %}
                <tr><td>date</td><td>{{set.player1.first_name}}</td><td>...</td></tr>
                {% endfor %}
                {% endif %}
				</tbody>
			</table>
		</div>
