	<div id="setView" class="subcontainer">
	    <h1>Regulation Set 173 </h1>

		<div class="gameView">
		    <h2>Game 1</h2><h3>21/11 Gregg</h3>
		    <canvas id="game1"></canvas>
		</div>

		<div class="gameView">
		    <h2>Game 2</h2><h3>21/11 Gregg</h3>
		    <canvas id="game2"></canvas>
		</div>
		
		<div id="game3Score" class="gameView">
	    <h2>Game 3</h2>
			<div class="playerScore player1">
				<h2>Gregg</h2>
				<h1>21</h1>
			</div>
			<div class="playerScore player2">
				<h2>Laurence</h2>
				<h1>11</h1>
			</div>
		</div>
	</div>
