{% load staticfiles %}
<html>
<head>
    <script type="text/javascript" src="{% static "scores/Chart.js" %}"></script>
    <script type="text/javascript" src="{% static "scores/scorehistory.js" %}"></script>
	<script type="text/javascript" src="{% static "scores/winRecord.js" %}"></script>
	<script type="text/javascript">
		function initPage() {
			drawSet();
			drawWins();
		}
	</script>
    <link rel="stylesheet" type="text/css" href="{% static "scores/style.css" %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
</head>

<body onload="initPage()">
<div id="mainView">
	<div id="ladderView" class="subcontainer">
        {{leaders}}
		<h1>Search</h1>
		...no searching yet.
		<h1>About</h1>
		<ol class="menu">
			<li>Ladder League</li>
			<li>BitBucket</li>
		</ol>
	</div>
	<div id="playerView" class="subcontainer">
    <!--inserting profile-->
        {{profile}}
    <!--done with profile-->
	</div>

	<div id="setView" class="subcontainer">
	    <h1>Regulation Set 173 </h1>

		<div class="gameView">
		    <h2>Game 1</h2><h3>21/11 Gregg</h3>
		    <canvas id="game1"></canvas>
		</div>

		<div class="gameView">
		    <h2>Game 2</h2><h3>21/11 Gregg</h3>
		    <canvas id="game2"></canvas>
		</div>
		
		<div id="game3Score" class="gameView">
	    <h2>Game 3</h2>
			<div class="playerScore player1">
				<h2>Gregg</h2>
				<h1>21</h1>
			</div>
			<div class="playerScore player2">
				<h2>Laurence</h2>
				<h1>11</h1>
			</div>
		</div>


	</div>
</div>
</body>
</html>
