{% load staticfiles %}


<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen and (min-device-width:800px)" href="{% static "frontend/style.css" %}">
    <link rel="stylesheet" media="only screen and (max-device-width:600px)" href="{% static "frontend/mobile.css" %}">
    <link rel="stylesheet" media="only screen and (max-device-width:1000px)" href="{% static "frontend/mobile.css" %}">
    <title>Ladder League</title>
</head>

<body>

<div id="titlebar">Ladder League</div>

<div id="container">
    {{leaders}}


        <div id="navigation">
            <h2>Navigation</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="http://github.com/fbaew/ladderleague">GitHub</a></li>
                <li><a href="http://gregglewis.net">Gregg Lewis</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
    
        {% if profile %}
        <!--inserting profile-->
        {{profile}}
    
        {% if contest_details %}
        {{contest_details}}
        {% endif %}
        {% else %}
        
        <div id="notice">
        <h1>Welcome</h1>
        Hello, and welcome to the ladder league home page!
    
        Here you will find scores and standings for Gregg's
        House Table Tennis Ladder League. To get started, 
        just click or tap on a name on the leaderboard.<br>

        From there, you can click/tap on individual contests
        to see their final scores.

        <h2>What is this?</h2>
        Primarily, this project has been an excuse to familiarize
        myself with <a href="http://djangoproject.com">Django</a>.
        <br>
        It's also intended to foster competition around the
        table tennis table. For now, you can just view historical
        data, but I'm working on implementing a "challenge" mechanism
        to allow anyone to throw down the gauntlet from wherever you
        happen to be.
        </div>
    
        {% endif %}
    
    </div>
</div>
</body>

</html>
